<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <h1> Curious about Confirmed COVID Cases? </h1>
    <p> We can tell you about any country<p>
    <p> Enter a country (no capital letters)<p>
    <p> If its a country thats name is more than one word, enter it like  this: "south-africa"<p>


    <form  action="http://localhost:3000/ps4/current" method="get">

      <label> Enter a Country </label> <input type="text" name= "Country"> <br/>
      <button type="submit">Search</button>

    </form>

  <p> The number of cases for today is  <%= cases %> </p>


  </body>
</html>
